/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* End CSS reset */

:root {
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 20%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --blue-gray: hsl(215, 23%, 14%);
    --orange: hsl(25, 97%, 53%);
}
html {
    /* Now that the rem unit is starting to become popular, setting the base font-size on the root element (html tag) is advised (rem stands for root em).*/
    font-size: 62.5%;
    /* fw 500 700 */
    font-family: "Overpass", sans-serif;
}
body {
    background-color: var(--very-dark-blue);
}
.main-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating-card,
.thank-you-card {
    max-width: 144rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--blue-gray);
    padding: 3rem;
    border-radius: 3rem;
    margin: 4rem;

    font-size: 1.5rem;
    color: white;
}
.rating-star-icon-element {
    margin-bottom: 2rem;
    transition: all 0.3s;
}
.rating-star-icon-element:hover {
    /* For fun */
    transform: translateY(-0.5rem);
}
.rating-star-icon {
    padding: 1.5rem;
    width: 4.8rem;
    background-color: var(--dark-blue);
    border-radius: 50%;
}
.rating-heading,
.thank-you-header {
    font-size: 2.6rem;
}
.rating-text,
.thank-you-text {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 35ch;
}
.rating-description,
.thank-you-description {
    font-style: 1.5rem;
    color: var(--light-grey);
}
.ratings-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.rating-item {
    cursor: pointer;
    height: 5rem;
    width: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--dark-blue);
    border-radius: 50%;

    text-align: center;
    color: var(--medium-grey);
    font-weight: 700;
    transition: all 0.2s;
}
.rating-item:hover:not(.pressed),
.rating-item:focus-visible:not(.pressed) {
    background-color: var(--light-grey);
    color: white;
    outline: none;
}
.btn {
    cursor: pointer;

    background: none;
    background-color: var(--orange);
    border: none;
    padding: 1rem;
    border-radius: 3rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    transition: all 0.2s;
}
.btn:hover,
.btn:focus-visible {
    background-color: white;
    color: var(--orange);
    outline: none;
}

/* Thank you card */
.thank-you-card {
    gap: 3rem;
    align-items: center;
    padding: 4rem 3rem;
}
.thank-you-icon {
    width: 16rem;
}
.rating-selection-text {
    background-color: var(--dark-blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;

    color: var(--orange);
}
.thank-you-text {
    text-align: center;
}

/* Utility */
.pressed {
    background-color: var(--orange);
    color: white;
}
.rating-item.pressed:focus-visible {
    transform: translateY(-0.5rem);
    outline: #333 0.5rem solid;
}
.hidden {
    display: none;
    transition: all 0.3s;
}
